<div class="wrapper-masthead">
  <div class="container">
    <header class="masthead clearfix">
        <a href="{{ site.baseurl }}/" class="site-avatar"><img src="/profile.PNG"/></a>

      <div class="site-info">
        <h1 class="site-name"><a href="{{ site.baseurl }}/">Subin's 브로그</a></h1>
        <p class="site-description">want to be a DEVELOPER oneday...</p>
      </div>

      <nav>

        <a href="/">Blog</a>
        <a href="/archive">Archive</a>
        <a href="/tags">Tags</a>
        <a href="/about">About</a>

      </nav>
    </header>
  </div>
</div>
